/*
	Browser window width:	1366
	Browser window height:	638
	Screen width:	1366
	Screen height:	768

	The box-sizing property is used to tell the browser what the sizing 
	properties (width and height) should include.
	• box-sizing: border-box; 
	Default value: content-box - Inherited:	no
	Values: border-box = The width and height properties (and min/max properties) 
	includes content, padding and border, but not the margin
	
	The text-align property specifies the horizontal alignment of text in an element.
	• text-align: left;
	Default value: left if direction is ltr, and right if direction is rtl - Inherited: yes
	Values: left, right, center, justify, initial

	The width property sets the width of an element.
	• width: 500px;
	Note: The width property does not include padding, borders, or margins; it 
	sets the width of the area inside the padding, border, and margin of the element!
	Note: The min-width and max-width properties override width.
	Default value: auto - Inherited: no
	values: auto length, %: Defines the width in percent of the containing block;

	The height property sets the height of an element.
	• height: 100px;
	Note: The height property does not include padding, borders, or margins; it 
	sets the height of the area inside the padding, border, and margin of the element!
	Default value: auto - Inherited: no
	Values: auto: The browser calculates the height.;

	The property replaces the list-item marker with an image.
	• list-style-image none;
	Default value: none - Inherited: yes
	values: url, none, initial, inherit
	
	The display property specifies the type of box used for an HTML element.
	• display: inline;
	Default value: inline - Inherited: no
	values: inline, block, flex, inline-block, inline-flex, list-item, table

	The flex property specifies the length of the item, relative to the rest of the flexible items inside the same container.
	The flex property is a shorthand for the flex-grow, flex-shrink, and the flex-basis properties.
	• flex: 1;
	Default value: 0 1 auto - Inherited: no
*/

body {
	background-color: rgb(235, 236, 237);
	box-sizing: border-box; /*Inherited: No*/
	/*display: flex;
	flex-direction: column;*/
	font-family: Arial, Helvetica, Sans, sans-serif, "Sans Serif";
	font-size: 16px; 
	line-height: 20px; /*Inherited: Yes - Interlineado*/
	margin: 0; /*Inherited: No*/
	max-width: 100%; /*Inherited:No*/
}

header, nav, section, aside, article, figure, footer {
	box-sizing: border-box;
	display: block;
}

.envoltura-barra-navegacion-top{
	background-color: rgb(255, 255, 255);
	/*color: rgb(255, 255, 255);*/
	box-shadow: rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
	/*box-sizing: border-box;*/
	/*display: block;*/
	/*flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 1;*/
	height: 64px;
	justify-content: flex-end;
	position: relative;
	/*width:1349px;*/
	/*margin: 0px;*/
	/*padding: 0px;*/
	max-width: 100%;
}

.resumen-cuenta{
	box-sizing:border-box;

	display:flex;
	font-size:16px;

	line-height:20px;
	margin-left:-8px;
	margin-right:-8px;
}

.tabla-resumen{	
	box-sizing: border-box;

	display:flex;
	flex-direction:column;
	
	font-size:16px;

	line-height:20px; /* Interlineado, Inherited: yes*/

	padding-bottom:0px;
	padding-left:8px;
	padding-right:8px;
	padding-top:0px;
	/*width:540.5px;*/
}

.sub-tabla-resumen{
	background-clip: border-box; /*The background-clip property specifies the painting area of the background.*/
	background-color: rgb(255, 255, 255);
	background-size: auto; /*Default value: auto. The background-image contains its width and height*/
	
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	
	border-top: 0px none #ddd;
	
	box-shadow: rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;

	box-sizing: border-box;
	display: block;
	
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 0;
	
	font-size: 16px;
	line-height: 20px;
	
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	
	text-align:center;
}

.sub-tabla-titulo{
	box-sizing: border-box;
	display: block;

	font-size: 16px;
	font-weight: bold;

	line-height: 20px; /* Interlineado, Inherited: yes*/
	
	margin-bottom: 8px;
	margin-top: 0px;
	text-align: left;
	border-top: 0px solid #ddd;
}

.sub-tabla-infomacion{
	box-sizing: border-box;
	display:block;
	
	font-size: 14px;
	font-weight: normal;

	line-height: 14px;

	margin-bottom: 16px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 16px;

	text-align: left;
}

.titulo-cuenta{
	box-sizing:border-box;
	display: block;
	color: #37454D;
	font-size: 20px;
	line-height:25px;
	
	margin: 0px;
	padding-bottom:20px;
	padding-left:0px;
	padding-right:0px;
	padding-top:4px;	
}

.sub-titulo-cuenta{
	box-sizing:border-box;
	display:inline-block;
	color:rgb(105, 115, 121);

	font-size:16px;
	font-weight:normal;
	line-height:20px;
	
	margin-bottom:20px;
	margin-left:0px;
	margin-top:0px;
}

.imagen-fondo{
	border-bottom-color:rgb(55, 69, 77);
	border-bottom-style:none;
	border-bottom-width:0px;
	border-image-outset:0px;
	
	border-image-repeat:stretch;
	border-image-slice:100%;
	border-image-source:none;
	border-image-width:1;
	
	border-left-color:rgb(55, 69, 77);
	border-left-style:none;
	border-left-width:0px;
	
	border-right-color:rgb(55, 69, 77);
	border-right-style:none;
	border-right-width:0px;
	
	border-top-color:rgb(55, 69, 77);
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-top-style:none;
	border-top-width:0px;
	
	box-sizing:border-box;
	color:rgb(55, 69, 77);
	direction:ltr;
	display:inline;
	
	height:240px;
	left:0px;
	line-height:20px;
	margin-top:-50px;
	max-width:100%;
	position:relative;
	top: 0px;
	vertical-align: middle;
}

.imagen-avatar{
	box-sizing:border-box;
	direction:ltr;
	display:inline;
	
	overflow-x: visible;
	overflow-y: visible;

	height: 107px;
	left: 0px;

	margin-top: 0px;
	max-width:100%;
	position:relative;
	top: -150px;
}

.fondo-avatar{
	border-bottom-left-radius:
50%
;
border-bottom-right-radius:
50%
;
border-top-left-radius:
50%
;
border-top-right-radius:
50%
;
box-sizing:
border-box
;
display:
block
;
font-family:
Arial, Helvetica, Sans, sans-serif, "Sans Serif"
;
margin-top:
0px
;
opacity:
0
;
position:
absolute
;
top:
0px
;
width:
100%;

}

.fondo-tarjeta{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;

	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	
	box-shadow: rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
	box-sizing: border-box;
	display: block;

	height:165px;

	margin-bottom: 32px;
	max-height: 165px;
	/*max-width:100%;*/
	overflow-x:hidden;
	overflow-y:hidden;
}

.random1{
	bottom:
-50px
;
box-sizing:
border-box
;
color:
rgb(55, 69, 77)
;
display:
block
;
font-family:
Arial, Helvetica, Sans, sans-serif, "Sans Serif"
;
font-size:
16px
;
height:
113px
;
left:
532.5px
;
line-height:
20px
;
position:
absolute
;
transform:
matrix(1, 0, 0, 1, -56.5, 0)
;
width
}

.gradiente{
	background-image:linear-gradient(rgba(41, 51, 57, 0.9), transparent);
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	box-sizing:border-box;
	display:block;
	height:50px;
	left:0px;
	line-height:20px;
	position:absolute;
	top:0px;
	width:1065px;
}

.fondo-tarjeta-envoltura{
	box-sizing:border-box;
	display:block;
	position:relative;
}

.fondo-tarjeta-titulo{
	box-sizing:border-box;

	display:block;

	font-size:14px;
	font-weight:bold;
	height:17px;
	line-height:17.5px;
	margin-bottom:16px;
	margin-left:0px;
	margin-right:0px;
	margin-top:16px;
	padding-left:16px;
	padding-right:16px;
	text-align:left;
	width:426px
}

.fondo-tarjeta-imagen{

	box-sizing:border-box;
	display:block;
	height:100px;
	position:relative;
}

.fondo-tarjeta-imagen-final{

	box-sizing:border-box;
	color:rgb(55, 69, 77);
	display:block;

	line-height:20px;
	max-height:100px;
	/*max-width:100%;*/
	overflow-x:hidden;
	overflow-y:hidden;
	position:relative;
}

.mensaje-bienvenida{

	box-sizing:border-box;
	color:rgb(255, 255, 255);
	display:block;

	font-weight:bold;
	font-size: 16px;
	
	margin: 0px;
	padding-bottom:0px;
	padding-left:16px;
	padding-right:16px;
	padding-top:0px;
	
	position:absolute;
	text-align:left;
	text-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px;
	top:16px;
}

.envoltura-barra-principal{
	background-color: rgb(55, 69, 77);

	box-sizing: border-box;
	display: block;
	
	flex-basis: 252px;
	flex-grow: 0;
	flex-shrink: 0;
	
	left: auto;
	/*min-width: 200px;*/ /*De no incluise la barra izquiera se vuelve muy angosta y las letras bajan*/
	/*position: static;*/
	max-width: 240px;
	min-width: 200px;
	max-width: 100%;

}

.hidden-xs{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.barra-principal-opciones{
	color: #293339;
	cursor: auto; /*specifies the type of cursor to be displayed when pointing on an element.*/
	margin: 0px;
	/*text-decoration-color: rgb(205, 208, 210);*/
	/*padding-bottom: 12px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;*/
	
	text-align: left;
}

.lista{
	box-sizing: border-box;
	color: rgb(205, 208, 210);
	
	cursor: auto; /*specifies the type of cursor to be displayed when pointing on an element.*/
	display: block; /*block; Displays an element as a block element (like <p>)*/
	
	margin: 0px;

	padding-bottom: 12px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;
	
	text-align: left;
}

.arreglo-tamanio{
	margin-top: -25px;
}

.boton-barra-menu{
	background-color: rgb(255, 255, 255);
	border-color: #EBECED;
	font-family: Arial, Helvetica, Sans, sans-serif, "Sans Serif", 'Glyphicons Halflings';
	/*font-size: 16px; */
	/*line-height: 20px; /*Inherited: Yes - Interlineado*/
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: rgb(250, 251, 252);
}

.navbar-inverse .navbar-toggle {
    border-color: #EBECED;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #293339;
    /*background-color: #37454D;*/
    background-color: rgb(255, 255, 255);
}


.navbar-toggle {
    position: relative;
    float: left;
    padding: 10px 10px;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
}

.logo{
	box-sizing: border-box;
	display: block;
	text-align: center;
	margin: 0px;
	/*margin-left: 400px;
	margin-top: 15px;
	margin-bottom: 0px;
	margin-right: 0px;*/
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 4px;
    line-height: 1;
    vertical-align: top;
    border: 0px none #ddd;
}

.borde{
	border-bottom: 1px solid #293339;
}

.borde-dos{
	margin-top: 30px;
}

.borde-tres{
	margin-top: 30px;
	border-top: 1px solid #293339;
}

.foto{
	box-sizing: border-box;
	display: block;
	text-align: center;
	margin-top: 15px;
}

/*Esto es para el logo de Trivago en la barra superior*/
@media (min-width: 768px){

	.navbar-header {
	    float: none;
	}
}


