/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 62px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 46px;
    bottom: 0;
    /*left: 0;*/
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    /*overflow-y: auto;*/ /* Scrollable contents if viewport is shorter than content. */
    overflow-y: hidden;
    background-color: #293339;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
/*
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  /*background-color: #428bca;
  background-color: #293339;
  font-weight:bold;

}*/
/*
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
  background-color: #293339;
}
*/

.nav-sidebar > .active > a:hover{
  color: #fff;
  background-color: #293339;

}
.nav-sidebar > .active > a:focus{
  color: #fff;
  background-color: #293339;
  font-weight:bold;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    
  }
}
.main .page-header {
  margin-top: 0;
}

/* Placeholder dashboard ideas */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    /*padding-left: 250px;*/

}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    /*left: 250px;*/
    /*width: 0;*/
    height: 100%;
    /*margin-left: -250px;*/
    /*overflow-y: auto;*/
    /*background: #000;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#wrapper.toggled #contenido-pagina{
  background-color: rgba(41, 51, 57, 0.2);
  color: rgb(55, 69, 77, 0.2);
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media(min-width:768px) {
  
  #wrapper {
      /*padding-left: 0;*/
  }

  #wrapper.toggled {
      /*padding-left: 250px;*/
  }


  #sidebar-wrapper {
     /* width: 0;*/
  }

  #wrapper.toggled #sidebar-wrapper {
    /*width: 250px;*/
  }

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }

  #wrapper.toggled #contenido-pagina{
    background-color: rgba(41, 51, 57, 0.5);
    color: rgb(55, 69, 77, 0.5);
  }
  
}

@media(min-width:769px) {
  
  #wrapper {
      /*padding-left: 0;*/
  }

  #wrapper.toggled {
      /*padding-left: 250px;*/
  }


  #sidebar-wrapper {
     /* width: 0;*/
  }

  #wrapper.toggled #sidebar-wrapper {
    /*width: 250px;*/
    background-color: rgb(55, 69, 77);
    color:rgb(51, 51, 51);
  }
  
  #wrapper.toggled #contenido-pagina{
    background-color: inherit;
    color: rgb(51, 51, 51);
  }

}

/*
background-color: rgba(41, 51, 57, 0.5);
box-sizing: border-box;
color: rgb(55, 69, 77);
display: block;
height: 268px;
left: 0px;
line-height: 20px;
position: fixed;
top: 0px;
transition-property: background-color;
transition-timing-function: ease-out;
width: 100%;
z-index: 1500;
*/

/* ---- Ajustes!!! ---- */

.titulo-tabla-ajustes{
  /*background-color:rgb(235, 236, 237);*/
  background-color:rgb(255, 255, 255);
  box-sizing:border-box;

  cursor:pointer;
  display:block;
  font-size:14px;
  height:45px;
  line-height:17.5px;
  padding-bottom:14px;

  padding-left:40px;
  padding-right:40px;
  padding-top:14px;
  position:relative;
}

.tabla-ajustes{
  background-color:rgb(255, 255, 255);
  
  border-top-color:rgb(205, 208, 210);
  border-top-style:solid;
  border-top-width:1px;
  box-sizing:
  border-box;

  cursor:auto;
  display:block;

  font-size:14px;
  /*height:606px;*/
  line-height:17.5px;
  padding-bottom:16px;
  padding-left:32px;
  padding-right:16px;
  padding-top:16px;
}

.cuerpo-ajustes{
  background-color:rgba(255, 255, 255, 0);
  
  border-bottom-color:rgb(205, 208, 210);
  border-bottom-style:solid;
  border-bottom-width:1px;
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;
  
  box-sizing:border-box;
  cursor:pointer;
  display:block;

  /*height:46px;*/
}

.titulo-tabla-ajustes:hover{
  /*background-color: #293339;*/
  background-color:rgb(235, 236, 237);

}

.envoltura-cuerpo-ajustes{
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(255, 255, 255);
  background-image:none;
  background-origin:padding-box;
  background-position-x:0%;
  background-position-y:0%;
  background-size:auto;
  
  border-bottom-color:rgb(155, 162, 166);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;
  
  box-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
  box-sizing:border-box;
  display:block;
}

.prueba-div{
  min-width: 150px;
  max-width: 325px;
  width: 100%;
}

@media (min-width: 768px){
  .form-inline .form-control {
    display: block;
    min-width: 150px;
    max-width: 325px;
    width: 100%;
    vertical-align: middle;
  }
}

.ajuste-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 700;
    color: #37454d;
    line-height: 1.25;
}

/* ---- Reservas!!! ---- */

.envoltura-contenedor-reservas{
  background-color:rgb(255, 255, 255);
  position: relative;
  padding: 16px 8px;
}

.contenedor-reservas {
  /*background-color:rgb(255, 255, 255);*/
  max-width: 980px;
  position: relative;
  margin: 0 auto;
}

.reservas{
  text-align: center;
  box-sizing:border-box;
  display:block;
  color: #37454D;
  font-size:20px;
  line-height:25px;
  font-weight:bold;
  margin: 0px;
}