
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/* Sidebar */

 .navbar{
  margin: 0px;
  border-left: 0px; 
  border-right-width: 0px;
  border-top-width: 0px;

 }

/* Hide for mobile, show later */
.sidebar {
  display: none;
  /*overflow-y: auto;*/
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    /*top: 20px;*/
    /*bottom: 0;*/
    /*left: 0;*/
    z-index: 1000;
    display: block;
    /*padding: 20px;*/
    overflow-x: hidden;
    /*overflow-y: auto;*/ /* Scrollable contents if viewport is shorter than content. */
    overflow-y: hidden;
    background-color: #293339;
  }
}

#sidebar-wrapper {
    z-index: 1000;
    /*position: fixed;*/
    /*left: 250px;*/
    /*width: 0;*/
    height: 100%;
    min-height: 490px;
    /*margin-left: -250px;*/
    /*overflow-y: auto;*/
    /*background: #000;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Sidebar navigation */
.nav-sidebar {
  /*margin-right: -21px;*/ /* 20px padding + 1px border */
  /*margin-bottom: 20px;*/
  /*margin-left: -20px;*/
}

.nav-sidebar > li > a {
  /*padding-right: 20px;*/
  /*padding-left: 20px;*/
}
/*
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  /*background-color: #428bca;
  background-color: #293339;
  font-weight:bold;

}*/
/*
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
  background-color: #293339;
}
*/

.nav-sidebar > .active > a:hover{
  color: #fff;
  background-color: #293339;

}
.nav-sidebar > .active > a:focus{
  color: #fff;
  background-color: #293339;
  font-weight:bold;
}

/*
 * Main content
 */

.main {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 20px;
    padding-left: 20px;
    
  }
}

.main .page-header {
  margin-top: 0;
}

/* Placeholder dashboard ideas */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    /*padding-left: 250px;*/

}

#wrapper.toggled #sidebar-wrapper {
    /*width: 250px;*/
    position: fixed;
    margin-top: -65px;
}

#wrapper.toggled #contenido-pagina{
  /*background-color: rgba(41, 51, 57, 0.2);*/ /*Hace que el fondo oscuresca al apretat el boton de abrir menu*/
  color: rgb(55, 69, 77, 0.2);
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media(min-width:768px) {
  
  #wrapper {
      /*padding-left: 0;*/
  }

  #wrapper.toggled {
      /*padding-left: 250px;*/
  }


  #sidebar-wrapper {
     /* width: 0;*/
  }

  #wrapper.toggled #sidebar-wrapper {
    /*width: 250px;*/
  }

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }

  #wrapper.toggled #contenido-pagina{
    background-color: rgba(41, 51, 57, 0.5);
    color: rgb(55, 69, 77, 0.5);
  }
  
}

@media(min-width:769px) {
  
  #wrapper {
      /*padding-left: 0;*/
      
  }

  #wrapper.toggled {
      /*padding-left: 250px;*/
      
  }


  #sidebar-wrapper {
     /* width: 0;*/
  }

  #wrapper.toggled #sidebar-wrapper {
    /*width: 250px;*/
    background-color: rgb(55, 69, 77);
    color:rgb(51, 51, 51);

  }
  
  #wrapper.toggled #contenido-pagina{
    background-color: inherit;
    color: rgb(51, 51, 51);
  }

}

/* ---- Ajustes!!! ---- */

.titulo-tabla-ajustes{
  /*background-color:rgb(235, 236, 237);*/
  background-color:rgb(255, 255, 255);
  box-sizing:border-box;

  cursor:pointer;
  display:block;
  font-size:14px;
  height:45px;
  line-height:17.5px;
  padding-bottom:14px;

  padding-left:40px;
  padding-right:40px;
  padding-top:14px;
  position:relative;
}

.tabla-ajustes{
  background-color:rgb(255, 255, 255);
  
  border-top-color:rgb(205, 208, 210);
  border-top-style:solid;
  border-top-width:1px;
  box-sizing:
  border-box;

  cursor:auto;
  display:block;

  font-size:14px;
  /*height:606px;*/
  line-height:17.5px;
  padding-bottom:16px;
  padding-left:32px;
  padding-right:16px;
  padding-top:16px;
}

.cuerpo-ajustes{
  background-color:rgba(255, 255, 255, 0);
  
  border-bottom-color:rgb(205, 208, 210);
  border-bottom-style:solid;
  border-bottom-width:1px;
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;
  
  box-sizing:border-box;
  cursor:pointer;
  display:block;

  /*height:46px;*/
}

.titulo-tabla-ajustes:hover{
  /*background-color: #293339;*/
  background-color:rgb(235, 236, 237);

}

.envoltura-cuerpo-ajustes{
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(255, 255, 255);
  background-image:none;
  background-origin:padding-box;
  background-position-x:0%;
  background-position-y:0%;
  background-size:auto;
  
  border-bottom-color:rgb(155, 162, 166);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;
  
  box-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
  box-sizing:border-box;
  display:block;
}

.prueba-div{
  min-width: 150px;
  max-width: 325px;
  width: 100%;
}

@media (min-width: 768px){
  .form-inline .form-control {
    display: block;
    min-width: 150px;
    max-width: 325px;
    width: 100%;
    vertical-align: middle;
  }
}

.ajuste-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 700;
    color: #37454d;
    line-height: 1.25;
}


/* ---- Reservas!!! ---- */


.envoltura-contenedor-reservas{
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(255, 255, 255);
  background-image:none;
  background-origin:padding-box;

  background-size:auto;
  
  border-bottom-color:rgb(155, 162, 166);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  /*border-bottom-style:solid;*/
  /*border-bottom-width:1px;*/
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;

  box-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
  
  display:block;

  position: relative;
  padding: 16px 8px;
}

.envoltura-contenedor-reservasdos{
  background-color:rgb(255, 255, 255);
  position: relative;
  padding: 16px 8px;
}

.contenedor-reservas {
  /*background-color:rgb(255, 255, 255);*/
  max-width: 980px;
  position: relative;
  margin: 0 auto;
}

.reservas{
  text-align: center;
  box-sizing:border-box;
  display:block;
  color: #37454D;
  font-size:20px;
  line-height:25px;
  font-weight:bold;
  margin: 0px;
}

/* ---- Lista de Hoteles!!! ---- */

.envoltura-cuerpo-busqueda-reciente{
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(235, 236, 237);
  background-image:none;
  background-origin:padding-box;

  background-size:auto;
  
  border-bottom-color:rgb(155, 162, 166);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  /*border-bottom-style:solid;*/
  /*border-bottom-width:1px;*/
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;
  
  display:block;
}

.envoltura-titulo-lista-hoteles{
  margin-top: 10px;
  margin-bottom: 15px;
  box-sizing:border-box;
  display:block;
  padding-left:0px;
  padding-right:0px;
}

.sub-titulo-lista-hoteles{
  box-sizing:border-box;
  color:rgb(105, 115, 121);
  display:block;
  font-size:14px;
  font-weight:normal;
  height:14px;
  line-height:14px;
  padding-left:0px;
  padding-right:0px;
  margin: 0px;
}

.lista-hotel-infomacion{
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  cursor:auto;
  display:
  block;font-size:
  12px;
  height:36px;
  line-height:18px;
  margin-bottom:16px;
  margin-left:0px;
  margin-right:0px;
  margin-top:16px;
  text-align:center;
}

.correccion{
  margin-bottom: 0px;
}

.lista-hotel-div{
  /*min-width: 300px;*/
  max-width: 400px;
  width: 100%;
}


/* ---- Busquedas Recientes!!! ---- */


.envoltura-cuerpo-busqueda-reciente{
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(235, 236, 237);
  background-image:none;
  background-origin:padding-box;

  background-size:auto;
  
  border-bottom-color:rgb(155, 162, 166);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  /*border-bottom-style:solid;*/
  /*border-bottom-width:1px;*/
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;
  
  display:block;
}

.cuerpo-busqueda-reciente{

  box-sizing:border-box;
  display:block;
  position: relative;
  width: 100%;

}

.tabla-busqueda-reciente{

background-attachment:scroll;
background-clip:border-box;
background-color:rgb(255, 255, 255);

background-origin:padding-box;
background-position-x:0%;
background-position-y:0%;

background-size:auto;

border-bottom-left-radius:2px;
border-bottom-right-radius:2px;
border-top-left-radius:2px;
border-top-right-radius:2px;
box-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
box-sizing:border-box;

display:block;
height:184px;

margin-bottom:8px;

padding-bottom:8px;
padding-left:8px;
padding-right:8px;
padding-top:8px;

position:relative;
}

@media (max-width: 768px){
  .tabla-busqueda-reciente{
      height:138px;
  }
}

@media (max-width: 768px){
  .tabla-busqueda-reciente .busqueda-reciente-div-vacio{
    height:36px;
    /*width: 70%;*/
  }
}

.busqueda-reciente-imagen{
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  display:block;
  float:left;
  font-size:0px;
  /*height:168px;*/
  height: 100%;
  line-height:0px;
  
  margin-bottom:8px;
  margin-left:0px;
  
  overflow-x:hidden;
  overflow-y:hidden;
  position:relative;
  vertical-align:top;
  /*width:224px;*/
  width: 22%;
}

.busqueda-reciente-top{
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  display:inline-block;
  height:48px;
  margin-bottom:12px;
  margin-left:8px;
  margin-right:8px;
  margin-top:0px;
  /*width:700px;*/
  vertical-align: top;
}

.busqueda-reciente-div-vacio{
  border-bottom-color:
  rgb(205, 208, 210);
  border-bottom-style:solid;
  border-bottom-width:1px;
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  display:inline-block;
  float:left;
  font-size:0px;
  height:75px;
  line-height:0px;
  margin-left:8px;
  /*min-height:75px;*/
  /*width:780px;*/
  width: 75%;
}

.busqueda-reciente-bottom{
  box-sizing:border-box;
  color:rgb(105, 115, 121);
  display:block;
  float:left;
  font-size:14px;
  height:41px;
  line-height:17.5px;
  padding-bottom:12px;
  padding-left:8px;
  padding-right:8px;
  padding-top:12px;
  position:relative;
}

.busqueda-reciente-bottom-right{
  box-sizing:border-box;
  color:rgb(55, 69, 77);
  display:block;
  float:right;
  font-size:14px;
  height:41px;
  line-height:17.5px;
  padding-bottom:12px;
  padding-left:8px;
  padding-right:8px;
  padding-top:12px;
  text-align:right;
}


/* ---- Subscripciones!!! ---- */


.envoltura-contenedor-subscripcones{
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(255, 255, 255);
  background-image:none;
  background-origin:padding-box;

  background-size:auto;
  
  border-bottom-color:rgb(155, 162, 166);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  /*border-bottom-style:solid;*/
  /*border-bottom-width:1px;*/
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;

  box-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
  
  display:block;

  position: relative;
  padding: 16px 8px;
}

.contenedor-susbcripciones{
padding-bottom:16px;
padding-left:16px;
padding-right:16px;
/*padding-top:16px;*/
}

.titulo-subscripcones{
  box-sizing:border-box;
  display:block;
  font-size:16px;
  font-weight:bold;
  height:20px;
  line-height:20px;
  margin-top:0px;
}

/* ---- Alerta Precios!!! ---- */


.titulo-alerta-precios{
  text-align: left;
  box-sizing:border-box;
  display:block;
  color: #37454D;
  font-size:20px;
  line-height:25px;
  font-weight:bold;
  line-height:21px;
  margin-bottom:16px;
}

.subtitulo-alerta-precios{
  text-align: left;
  box-sizing:border-box;
  display:block;
  color: #37454D;
  font-size:14px;


  line-height:20px;
  margin-bottom:16px;
}

.envoltura-contenedor-alerta-precios{
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(255, 255, 255);
  background-image:none;
  background-origin:padding-box;

  background-size:auto;
  
  border-bottom-color:rgb(155, 162, 166);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  /*border-bottom-style:solid;*/
  /*border-bottom-width:1px;*/
  
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  
  border-left-color:rgb(55, 69, 77);
  border-left-style:none;
  border-left-width:0px;
  
  border-right-color:rgb(55, 69, 77);
  border-right-style:none;
  border-right-width:0px;
  
  border-top-color:rgb(55, 69, 77);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;

  box-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
  
  display:block;

  position: relative;
  padding: 8px 0px;
}