/*If the padding property has two values:

padding: 25px 50px;
top and bottom paddings are 25px
right and left paddings are 50px*/

#parrafo2{
	border:1px #ffffff solid; 
	padding: 20px 200px;
	margin:10px;
}
 
#caja-correo{
	width: 300px; height: 35px;
}

#caja-busqueda{
	width: 500px; height: 30px;
}

#titulo-principal{
	color:#007FAD;
	padding-top: 50px;
  	padding-bottom: 20px;
}

.envoltura-seccion-principal{
 
 }
 
 .envoltura-parrafo-principal{ 
     margin: 0px 120px;
 }
 
 .margen-parrafo-principal{ 
 	padding: 15px;
     margin: 0px 240px;
 }
 
 .margen-parrafo{
 	border:1px #D0D3D5 solid; 
 	padding: 15px;
     margin-top: 15px;
 
     font-size: 12px;
     line-height: 16px;
 }
 
 .subtitulo-parrafo{
 	font-size: 14px;
     line-height: 20px;
     font-weight: 700;
 }

.lista-no-enumerdada{
	list-style: none;
}

.footer-fondo-pantalla-total{
	background-color: #293339;
	color: #fff;
	padding: 32px;
}

.footer-fondo-pantalla2{ 	
	padding: 32px;
	color: #9BA2A6;
	background: #37454D;
}
