/*If the padding property has two values:

padding: 25px 50px;
top and bottom paddings are 25px
right and left paddings are 50px*/

aside {
	border: 1px solid;
	background-color:  snow;
	border-radius: 30px;
}

.header {
	text-align: center;
	border-bottom: 2px solid grey;
	margin-bottom: 20px;
}

.footer {
	margin-top: 20px;
	text-align: center;
	background-color: #293339;
	color: white;
	padding-top: 15px;
	padding-bottom: 5px;
}

.header h1 {
	font-size: 40px;
}
.container {
	border-left: 1px solid;
	border-right: 1px solid;
}

.texto-izq {
	text-align: left;
}

.texto-der {
	text-align: right;
}

.texto-cen {
	text-align: center;
}