/*If the padding property has two values:
padding: 25px 50px;
top and bottom paddings are 25px
right and left paddings are 50px*/

.white-link{
	color: white;
}

.white-link:hover{
	color: white;
	text-decoration: underline;
}

.lista-no-enumerdada{
	list-style: none;
	padding-left: 0px;

}

.footer-fondo-pantalla-total{
	background-color: #293339;
	color: #fff;
	padding-left: 150px; 
	padding-right: 130px;
}

.footer-fondo-pantalla2{ 	
	padding: 32px;
	color: #9BA2A6;
	background: #37454D;
}

.nav{
	font-size:17px;
	color: #FFFFFF;
	
}

.nav li:hover > ul{
	display:block;
}

h1 {
	color: #0073CF;
	font-size: 32px;
}

.navbar-default{
	background-color: #FFFFFF;
}

.footer .white-logo {
    display: block;
    margin: 0 auto;
    height: 32px;
    width: 102px;
    background-size: 100%;
    background-repeat: no-repeat
}

.navbar-static-top {
  margin-bottom: 19px;
  min-height: 10px;
}

a:focus, a:hover {
    text-decoration: none;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

input[type="email"] {
	height: 33px;
	border: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 280px;
}

.btn{
	border-radius: 0;
	border: 0px;
}

.form-control{
	border-radius: 0;
}

.col-lg-4{
  	padding-left: 0px;
}

#email-index{
	height: 33px; 
	max-width: 100%;
	color: #000;
	padding-left: 10px;
    width: 427px;
}

#div-center{
	margin-top: 150px;
	margin-bottom: 1200px;
}

#caja-busqueda{
	height: 41px;
	padding-left: 7px;
	width: 500px;
	border-color: #939A9D;
}

#btn-suscribirse{
	background-color: #697379;
	height: 35px;
}

#btn-suscribirse:hover{
	background-color: #37454D;
	border: 0px;
}

#btn-buscar{
    height: 41px;
    width: 134px;
    border: 0px;
}

#titulo-principal{
	color: #007fad;
}

#trivago-center{
	font-size: 28px;
	font-weight:bold; 
	margin-left: 440px;
}

#ul-trivago-center{
	padding-left: 0px;
	margin-bottom: 0px;
}
