ody {
  padding-bottom: 20px;
  background-color: #ebeced;
}

.navbar {
    position: relative;
    min-height: 5px;
    margin-bottom:0;
    border:none;
    color: #9F9F9F;
 }

.hero__content {
    padding: 0 16px;
}

.caja-texto{
    border-radius: 2px 0 0 2px;
    font-size: 21px;
    padding: 0 370px 0 10px;
    text-align: left;
    height: 41px;
    border-style: none;
}

.boton{
	border-radius: 0 2px 2px 0;
	min-width: 140px;
	height: 41px;
    margin:0;
    padding-top: 14px;
    padding-right: 25px;
    padding-left: 30px;
    padding-bottom: 11px;
    font-size: 14px;
	background-color: #007fad;
	line-height:14px;
    text-align: center;
    font-weight: 700;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
  }

 .borde{
 	border-color: #fff;
 	margin: 0;
 	border:none;
 	font-size: 14px;
 
 }

.sincronizar{
	border-radius: 2px;
    margin-right: 8px;
    padding-left: 0;
    height: 42px;
    text-align: left;
    background-color: #fff;
    font-size: 12px;
    line-height: 15px;
    padding: 0 40px 0 50px;
}

.barra-texto {
		width: 2900px;
		box-sizing: 50em;
}


.barra {
    background-color: #37454d;
    border-color: #37454d;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #333;
}

.btn-default:hover {
    color: #333;
    background-color: #fff;
    border-color: #333;
}

.footer-fondo-pantalla-total{
	background-color: #293339;
	color: #fff;
	padding: 32px;
}

.footer-fondo-pantalla2{ 	
	padding-bottom: 32px;
	padding-top: 20px;
	color: #9BA2A6;
	background: #37454D;
}

.h2{
	color: #fff;
	font-family: Arial;
}

.lista-no-enumerdada{
	list-style: none;
}

.btn-ordenar{
	border-color: #333;
	border-radius: 2px;
    font-size: 14px;
    max-width: 394px;
    min-width: 204px;
    margin-left: 12px;
    padding-right: 40px;
    border: 1px solid #9ba2a6;
    border-radius: 2px;
}

.btn-compartir{
	background-color: #fff;
	color: #333;
	border-color: #333;
	border-radius: 2px;
    font-size: 14px;
    border: 1px solid #9ba2a6;
    border-radius: 2px;
}

.btn-hab{
    text-align: center;
    border-radius: 2px;
    margin-right: 8px;
    padding-left: 0;
    height: 40px;
    text-align: left;
    background-color: #fff;
    font-size: 15px;
    font-family: arial;
    line-height: 15px;
    padding: 0 80px 0 50px;    
}

.btn-mapa{
    border-radius: 2px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

.h5{
    font-weight: bold;
}
.fondo-mapa {
    border-radius: 2px;
    height:80px;
    padding-bottom: 15px;

}

.caja-filtros {
    box-shadow: 0 1px 4px rgba(100,51,57,.5);
    background: #fff;
    margin-bottom: 8px;
    border-radius: 2px;
    height: 50px;
     padding: 20px 70px 80px 20px;
}

.lista-filtros {
    display: block;
    color: #37454;

}
