body {
  padding-bottom: 20px;
  background-color: #ebeced;
}

.navbar {
    position: relative;
    min-height: 5px;
    margin-bottom:0;
    border:none;
    color: #9F9F9F;
 }

.hero__content {
    padding: 0 16px;
}

.caja-texto{
    border-radius: 2px 0 0 2px;
    font-size: 21px;
    padding: 0 300px 0 10px;
    text-align: left;
    height: 41px;
    border-style: none;
}

.boton{
	border-radius: 0 2px 2px 0;
	min-width: 140px;
	height: 41px;
    margin:0;
    padding-top: 14px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 11px;
    font-size: 14px;
	background-color: #007fad;
	line-height:14px;
    text-align: center;
    font-weight: 700;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    width: 140px;
  }

.barra-texto {
		width: 2900px;
		box-sizing: 50em;
}


.barra {
    background-color: #37454d;
    border-color: #37454d;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #333;
}

.btn-default:hover {
    color: #333;
    background-color: #fff;
    border-color: #333;
}

.footer-fondo-pantalla-total{
	background-color: #293339;
	color: #fff;
	padding: 32px;
}

.footer-fondo-pantalla2{ 	
	padding-bottom: 32px;
	padding-top: 20px;
	color: #9BA2A6;
	background: #37454D;
}

.h2{
	color: #fff;
	font-family: Arial;
}

.lista-no-enumerdada{
	list-style: none;
}

.btn-ordenar{
	border-color: #333;
	background-position: 50%;
	background-position-x: right 12px
}

.btn-compartir{
	background-color: #fff;
	color: #333;
	border-color: #333;
}
