body {
	background-color: #EBECED;
	box-sizing: border-box; /*Inherited: No*/
	font-family: Arial, Helvetica, Sans, sans-serif, "Sans Serif";
	font-size: 16px; 
	line-height: 20px; /*Inherited: Yes - Interlineado*/
	margin: 0; /*Inherited: No*/
	max-width: 100%; /*Inherited:No*/
	overflow-x: hidden;
	overflow-y: scroll;

}

#barra-menu {
	background-color: white;
}

#navabar-letras{
	font-size:28px; 
	font-weight: bold;
}

/*Esto es para el logo de Trivago en la barra superior*/
@media (min-width: 768px){
	.navbar-header {
	  float: none;
	}
}

.foto {
  display: inline-block;
  margin: 15px auto;
  width: 152px;
  margin-left: 116px;
}

.float-derecha{
	float: right;
	margin: 8px auto;
	width: 148px;
}

.envoltorio-total{
	box-sizing:border-box;
	color:rgb(55, 69, 77);
	display:block;
	font-family:Arial, Helvetica, Sans, sans-serif, "Sans Serif";
	font-size:16px;
	height:553px;
	line-height:20px;
	margin-left:0px;
	margin-right:0px;
	margin-top:16px;
	/*max-width:816px;*/
	padding-left:0px;
	padding-right:0px;
	position:relative;
	/*width:816px;*/
}

.envoltura-cajas-registro{
	background-color: 235, 236, 237;
	box-sizing:border-box;
	display:flex;
	font-size:16px;
	/*height:289px;*/
	line-height:20px;
	margin-bottom:12px;
	margin-left:-8px;
	margin-right:-8px;
	margin-top:16px;
}

.envoltura-caja-registro-social{
	box-sizing:border-box;
	display:flex;
	flex-direction:column;
	font-size:16px;
	/*height:289px;*/
	line-height:20px;
	padding-left:8px;
	padding-right:8px;
	/*width:416px;*/
}

.envoltura-caja-registro-social2{
	/*background-attachment:scroll;*/
	background-clip:border-box;
	background-color:rgb(255, 255, 255);
	background-origin:padding-box;
	background-size:auto;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	box-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
	box-sizing:border-box;
	display:block;
	flex-basis:auto;
	flex-grow:1;
	flex-shrink:0;
	font-size:16px;
	/*height:289px;*/
	line-height:20px;
	margin-bottom:0px;
	padding-left:16px;
	padding-right:16px;
	text-align:center;
}

.lista-no-enumerdada{
	list-style: none;
}

.nav {
	font-size:17px;
}

.nav li:hover > ul{
	display:block;
}

.titulo-de-registro{
	box-sizing:border-box;
	color:rgb(55, 69, 77);
	display:block;
	font-family:Arial, Helvetica, Sans, sans-serif, "Sans Serif";
	font-size:20px;
	font-weight:normal;
	line-height:25px;
	text-align:left;
}

.subtitulos-registro{
	box-sizing:border-box;
	color:rgb(55, 69, 77);
	cursor:default;
	/*display:block;*/
	font-family:Arial, Helvetica, Sans, sans-serif, "Sans Serif";
	font-size:14px;
	font-weight:bold;
	height:17px;
	line-height:17.5px;
	margin-bottom:4px;
	max-width:100%;
	text-size-adjust:100%;
	/*width:352px;*/
}

.tamanio{
	max-width: 100%;
	min-width: 100%
}

.barrita-top{
	border-top-color:rgb(205, 208, 210);
	border-top-style:solid;
	border-top-width:1px;
	padding-top: 10px;
	margin-top: 10px;
}

.subtitulos-password{
	border-collapse:separate;
	box-sizing:border-box;
	color:rgb(55, 69, 77);
	display:table-cell;
	font-family: Arial, Helvetica, Sans, sans-serif, "Sans Serif";
	font-size:14px;
	font-weight:normal;
	height:20px;
	line-height:17.5px;
	margin-bottom:4px;
	max-width:100%;
	position:relative;
	text-size-adjust:100%;
	vertical-align:middle;
	/*width:173px;*/
}

.boton-de-facebook{
	align-items:flex-start;
	background-color:rgb(79, 106, 156);

	border-bottom-color:rgb(255, 255, 255);
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	border-bottom-width:0px;

	border-image-outset:0px;
	border-image-repeat:stretch;
	border-image-slice:100%;

	border-image-width:1;
	border-left-color:rgb(255, 255, 255);
	border-left-width:0px;

	border-right-color:rgb(255, 255, 255);
	border-right-width:0px;

	border-top-color:rgb(255, 255, 255);
	border-top-left-radius:2px;
	border-top-right-radius:2px;

	border-top-width:0px;
	box-sizing:border-box;
	color:rgb(255, 255, 255);
	cursor:pointer;
	display:block;
	font-family:Arial, Helvetica, Sans, sans-serif, "Sans Serif";
	font-size:16px;
	font-weight:bold;

	height:43.9915px;
	letter-spacing:normal;
	line-height:16px;
	margin-bottom:16px;

	overflow-x:hidden;
	overflow-y:hidden;

	position:relative;
	text-align:center;

	text-indent:0px;
	text-overflow:ellipsis;
	text-rendering:auto;
	text-shadow:none;
	text-size-adjust:100%;
	text-transform:none;
	touch-action:manipulation;

	vertical-align:middle;
	white-space:nowrap;
	width:100%;
	word-spacing:0px;
}

.boton-letras-facebook{
	box-sizing:
	border-box;
	color:rgb(255, 255, 255);
	cursor:pointer;
	display:inline;
	font-family:Arial, Helvetica, Sans, sans-serif, "Sans Serif";
	font-size:16px;
	font-stretch:normal;
	font-style:normal;
	font-variant-caps:normal;
	font-variant-ligatures:normal;
	font-variant-numeric:normal;
	font-weight:bold;
	height:auto;
	letter-spacing:normal;
	line-height:16px;
	text-align:center;
	text-indent:0px;
	text-rendering:auto;
	text-shadow:none;
	text-size-adjust:100%;
	text-transform:none;
	user-select:none;
	white-space:nowrap;
	width:auto;
	word-spacing:0px;
	writing-mode:horizontal-tb;
}

.boton-de-googleplus{
	align-items:flex-start;
	background-color:rgb(221, 75, 57);
	border-bottom-color:rgb(255, 255, 255);
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;

	border-image-repeat:stretch;
	border-image-slice:100%;
	border-image-source:none;
	border-image-width:1;
	border-left-color:rgb(255, 255, 255);
	border-left-style:none;
	border-left-width:0px;
	border-right-color:rgb(255, 255, 255);
	border-right-style:none;
	border-right-width:0px;
	border-top-color:rgb(255, 255, 255);
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-top-style:none;
	border-top-width:0px;
	box-sizing:border-box;
	color:rgb(255, 255, 255);
	cursor:pointer;
	display:inline-block;
	font-family:Arial, Helvetica, Sans, sans-serif, "Sans Serif";
	font-size:16px;
	
	font-weight:bold;
	height:44px;
	letter-spacing:normal;
	line-height:16px;
	margin-bottom:16px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	overflow-x:hidden;
	overflow-y:hidden;
	
	padding-bottom:11px;
	padding-left:13px;
	padding-right:13px;
	padding-top:13px;
	position:relative;
	text-align:center;
	text-decoration-color:rgb(255, 255, 255);
	
	text-decoration-line:none;
	text-decoration-style:solid;
	text-indent:0px;
	text-overflow:ellipsis;
	text-rendering:auto;
	text-shadow:none;
	text-transform:none;
	touch-action:manipulation;
	user-select:none;
	vertical-align:middle;
	white-space:nowrap;
	width: 100%;
	word-spacing:0px;
	writing-mode:horizontal-tb;
}

/* ---- Log In!!! ---- */
.envoltura-caja-inicio-manual{
	box-sizing:border-box;
	color:rgb(55, 69, 77);
	display:flex;
	flex-direction:column;
	font-family:Arial, Helvetica, Sans, sans-serif, "Sans Serif";
	font-size:16px;
	/*height:400px;*/
	line-height:20px;
	padding-left:8px;
	padding-right:8px;
	/*width:416px;*/
}

.envoltura-caja-inicio-manual2{
	/*background-attachment:scroll;*/
	background-clip:border-box;
	background-color:rgb(255, 255, 255);
	background-origin:padding-box;
	background-size:auto;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	box-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
	box-sizing:border-box;
	display:block;
	flex-basis:auto;
	flex-grow:1;
	flex-shrink:0;
	/*height:289px;*/
	line-height:20px;
	padding-left:8px;
	padding-right:8px;
}

.parrafo-footer{
	padding-left:10px;
	padding-right:10px;
}

.parrafo-footer2{
	padding-left:10px;
	padding-right:10px;
	padding-top: 16px;
	padding-bottom: 8px;
}

.parrafo-con-margin{
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
}

/* ---- Sign Up!!! ---- */
.envoltura-caja-registro-manual{
	box-sizing:border-box;
	color:rgb(55, 69, 77);
	display:flex;
	flex-direction:column;
	font-family:Arial, Helvetica, Sans, sans-serif, "Sans Serif";
	font-size:16px;
	/*height:500px;*/
	line-height:20px;
	padding-left:8px;
	padding-right:8px;
	/*width:416px;*/
}

.envoltura-caja-registro-manual2{
	/*background-attachment:scroll;*/
	background-clip:border-box;
	background-color:rgb(255, 255, 255);
	background-origin:padding-box;

	background-size:auto;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	box-shadow:rgba(41, 51, 57, 0.5) 0px 1px 4px 0px;
	box-sizing:border-box;
	display:block;
	flex-basis:auto;
	flex-grow:1;
	flex-shrink:0;
	/*height:289px;*/
	line-height:20px;
	padding-left:8px;
	padding-right:8px
}